<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{% block title %} Website {% endblock %}</title>
    <meta name="description" content="{{ site_description }}" />
    <meta name="author" content="{{ site_author }}" />

    <meta property="og:title" content="{{ site_title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site_url }}" />
    <meta property="og:description" content="{{ site_description }}" />
    <!-- <meta property="og:image" content="image.png" /> -->

    <!-- <link rel="icon" href="/favicon.ico" /> -->
    <!-- <link rel="icon" href="/favicon.svg" type="image/svg+xml" /> -->
    <!-- <link rel="apple-touch-icon" href="/apple-touch-icon.png" /> -->

    <link rel="stylesheet" href="/css/main.css" type="text/css" />
  </head>
  <body>
    <!-- Header -->
    {% include "header.njk" %}

    <!-- Main content -->
    {% block content %} {% endblock %}

    <!-- Footer -->
    {% include "footer.njk" %}

    <!-- AlpineJS -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- Other JS you might need to add -->
    <script src="/js/main.js" type="text/javascript"></script>
  </body>
</html>
