{% extends "base.njk" %}
<!--  -->
{% set page_key = "index" %}
<!-- content -->
{% block base %}
<main>
  <h1 class="text-2xl font-medium underline text-center pt-12 text-blue-600">
    {{ pages[page_key].example_content_key }}
  </h1>
  <p class="text-md italic text-center pt-4">{{ nested1.nested2 }}</p>

  <div class="mt-12 flex items-center flex-col" @click.away="open = false" x-data="{ open: false }">
    <div>
      <button @click="open = !open">Click me!</button>
    </div>

    <div x-cloak x-show="open">
      <p>Hey there.</p>
    </div>
  </div>
</main>
{% endblock %}
